body
{
    background-color: #F6F6F6;
}
h3
{
    font-size: 24px;
}
h4
{
    font-size: 20px;
}
p
{
    font-size: 16px;
}
.bg
{
    background: url('space.gif') no-repeat center center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 350px;
    z-index: -1;
    top: 0;
    left: 0;
}
.bg_black
{
    background-color: #000000;
    color: #F6F6F6;
}
.bordered
{
    border-style: solid;
    border-color: #2B2B2B;
    border-width: 5px;
}
.btn-primary
{
    background-color: #000000;
    color: #F6F6F6;
}
.center-outer
{
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
.center-middle
{
    display: table-cell;
    vertical-align: middle;
}
.center-inner
{
    margin-left: auto;
    margin-right: auto;
    padding: 25px 25px;
    width: 400px;
}
.container-fluid
{
    padding: 30px 25px;
}
.grey
{
    background-color: #2B2B2B;
}
.jumbotron
{
    height: 350px;
    color:#F6F6F6;
    text-shadow: black 0.3em 0.3em 0.3em;
    background: transparent;
    margin-bottom: 0px;
}
.logo
{
    color: #DE1B1B;
    font-size: 200px;
}
.logo-small
{
    color: #DE1B1B;
}
.separator
{
    border-color: #DE1B1B;
    border-style: solid;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 100px;
    margin-right: 100px;
}
.white
{
    color: #F6F6F6;
}
.vertical-align
{
    align-items: center;
    display: flex
}
@media screen and (max-width: 768px)
{
    .col-sm-4
    {
        text-align: center;
        margin: 25px 0;
    }
}